[submodule "ansible/k3s-ansible-classic"]
	path = ansible/k3s-ansible-classic
	url = https://github.com/k3s-io/k3s-ansible
[submodule "ansible/k3s-ansible"]
	path = ansible/k3s-ansible
	url = https://github.com/techno-tim/k3s-ansible
